body {
	background-color: lightblue;
}

h1 {
	color: navy;
	text-align: center;
}

#info {
  background-color: gray;
  position: fixed;
  height: 50%;
  width: 20%;
  border: 1px solid black;
  left: calc(1%);
  top: calc(25%);
}

#quest {
  background-color: gray;
  position: fixed;
  height: 30px;
  width: 50%;
  border: 1px solid black;
  left: calc(25%);
  top: calc(25% - 50px);
}

#purchase {
  background-color: gray;
  position: fixed;
  height: 50%;
  width: 50%;
  border: 1px solid black;
  left: calc(25%);
  top: calc(25%);
}

.purchaseButton {
  background-color: white;
  border: 1px solid black;
  width: 200px;
  height: 18px;
  text-align: center;
  margin: 5px;
  margin-right: 0px;
  display: inline-block;
  cursor: pointer;
}

#god {
  position: fixed;
  height: 3%;
  width: 20%;
  left: calc(1%);
  top: calc(77%);
}

#gods {
  background-color: gray;
  position: fixed;
  height: calc(10%);
  width: 20%;
  border: 1px solid black;
  left: calc(1%);
  top: calc(80%);
}

#favorDiv {
  background-color: white;
  position: absolute;
  border: 1px solid black;
  width: 150px;
  height: 18px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  left: calc(99% - 150px);
}

#upgrades {
  background-color: gray;
  position: fixed;
  height: 50%;
  width: 20%;
  border: 1px solid black;
  left: calc(79%);
  top: calc(25%);
}

#footer {
  background-color: gray;
  position: fixed;
  height: 30px;
  width: 100%;
  border: 1px solid black;
  left: -1px;
  top: calc(100% - 30px);
}

.footerDiv {
  background-color: white;
  border: 1px solid black;
  width: 50px;
  height: 18px;
  text-align: center;
  margin: 5px;
  margin-right: 0px;
  display: inline-block;
  cursor: pointer;
}

#deleteSaveButton {
  width: 100px;
  float: right;
  margin-right: 5px;
}

.goatseidon {
  display:none;
  background-color: gray;
  position: fixed;
  height: calc(10%);
  width: 20%;
  border: 1px solid black;
  left: calc(1%);
  top: calc(80%);
}

.gometer {
  background-color: gray;
  position: fixed;
  height: calc(10%);
  width: 20%;
  border: 1px solid black;
  left: calc(1%);
  top: calc(80%);
}

.godblock {
  background-color: gray;
  position: fixed;
  height: calc(10%);
  width: 20%;
  border: 1px solid black;
  left: calc(1%);
  top: calc(80%);
}