body {
	background-color: white;
}

h1 {
	text-align: center;
	font-family: 'Chewy', cursive;
}

::-webkit-scrollbar {
    display: none;
}

#info {
  font-family: 'Chewy', cursive;
  padding: 4px;
  background-color: white;
  position: fixed;
  height: calc(100% - 128px);
  width: 21%;
  border: 1px solid black;
  left: 2px;
  top: 85px;
}

#graphics {
  font-family: 'Chewy', cursive;
  background-color: white;
  position: fixed;
  padding: 4px;
  height: calc(100% - 185px);
  width: calc(100% - 240px - 21% - 32px);
  border: 1px solid black;
  left: calc(2px + 21% + 13px);
  top: 142px;
  overflow-y: scroll;
}

#title {
  font-family: 'Chewy', cursive;
  position: fixed;
  width: 100%;
  font-size: 200%;
  text-align:center;
  left: 0px;
  top: 0px;
  overflow-y: scroll;
}

#banner {
	position: fixed;
	left: 2px;
	top: 0px;
	display: none;
}

.rightMenu {
  font-family: 'Chewy', cursive;
  background-color: white;
  position: fixed;
  height: calc(100% - 120px);
  width: 240px;
  border: 1px solid black;
  left: calc(100% - 240px - 4px);
  top: 85px;
  overflow-y: scroll;
}

#tabs {
  background-color: white;
  position: fixed;
  height: 40px;
  width: 240px;
  border: 1px solid black;
  left: calc(100% - 240px - 4px);
  top: 40px;
}

#infoTabs {
  background-color: white;
  position: fixed;
  height: 40px;
  width: calc(21% + 8px);
  border: 1px solid black;
  left: 2px;
  top: 40px;
}

#footer {
  background-color: white;
  position: fixed;
  height: 30px;
  width: 100%;
  border: 1px solid black;
  left: -1px;
  top: calc(100% - 30px);
}

.footerDiv {
  background-color: white;
  border: 1px solid black;
  width: 50px;
  height: 18px;
  text-align: center;
  margin: 5px;
  margin-right: 0px;
  display: inline-block;
  cursor: pointer;
}

#deleteSaveButton {
  width: 100px;
  float: right;
  margin-right: 5px;
}

.godblock {
  background-color: gray;
  position: fixed;
  height: calc(10%);
  width: 25%;
  border: 1px solid black;
  left: calc(1%);
  top: calc(80%);
  overflow-y: scroll;
}